.footer {
    padding: 60px 15px;
    background-color: #222222;
}

.footer .nav ul{
    display: flex;
    flex-direction: column;
    line-height: 4rem;
}

.footer .nav a{
    background-color: var(--cinza-escuro);
    padding: 10px;
    border-radius: 15px;
    transition: 0.2s;
}

.footer .nav a:hover{
    box-shadow: 7px 7px 0 var(--verde-escuro);
}

.footer .veja-mais {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer .veja-mais h2 {
    color: var(--branco);
    font-size: var(--fonte-normal);
}

.footer .display-footer {
    display: flex;
    justify-content: space-around;
}