/*HEADER ---------------------------------*/
.header {
    background-color: var(--cinza);
    font-family: var(--fonte-primaria);
    padding: 30px 15px;
}

.header .logo {
    font-family: var(--fonte-segundaria);
    font-size: var(--fonte-grande);
    color: var(--verde);
    padding: 0.7rem;
    border: 3px solid var(--verde);
    border-radius: 50%;
    text-transform: none;
    text-decoration: underline;
    transition: 0.2s;
}

.header .logo:hover {
    color: var(--branco);
    border-color: var(--branco);
}

.header .menu {
    display: flex;
}

.header .menu li a {
    color: var(--verde);
    font-size: var(--fonte-normal);
    padding: 0.7rem 1.3rem;
    text-decoration: none;
    transition: 0.4s;
    border-radius: 2rem;
    scroll-behavior: smooth;
    user-select: none;
}

.header .menu li a:hover {
    background-color: var(--verde-escuro);
    color: var(--branco);
}

.menu-mobile {
    display: none;
    cursor: pointer;
}

.menu-mobile div {
    background: var(--branco);
    width: 32px;
    height: 2px;
    margin: 8px;
    transition: .3s;
}

@media (max-width: 900px) {
    body {
        overflow-x: hidden;
    }

    .header-nav {
        display: none;
    }

    .menu {
        background-color: #222222;
        position: absolute;
        top: 8rem;
        right: 2rem;
        width: 15rem;
        height: 15rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: .3s;

    }

    .menu-mobile {
        display: block;
    }
}  

.header-nav.active {
    display: block;
}

.menu-mobile.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menu-mobile.active .line2 {
    opacity: 0;
}

.menu-mobile.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}