@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --fonte-primaria: 'Overpass', sans-serif;
    --fonte-segundaria: 'Poppins', sans-serif;
    --fonte-gigante: 4.5rem;
    --fonte-gg: 3rem;
    --fonte-grande: 2rem;
    --fonte-normal: 1.6rem;
    --fonte-pequena: 1.2rem;
}

:root {
    --cinza: #3f3f3f;
    --cinza-escuro: #353535;
    --verde: #42e46d;
    --verde-escuro: #298342;
    --branco: #ffffff;
}

.container {
    max-width: 1140px;
    margin: auto;
}

body {
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-normal);
}

html {
    scroll-behavior: smooth;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content {
    justify-content: space-between;
}

.alinhar-itens-centro {
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--branco);
}