@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --fonte-primaria: 'Overpass', sans-serif;
    --fonte-segundaria: 'Poppins', sans-serif;
    --fonte-gigante: 4.5rem;
    --fonte-gg: 3rem;
    --fonte-grande: 2rem;
    --fonte-normal: 1.6rem;
    --fonte-pequena: 1.3rem;
}

:root {
    --cinza: #3f3f3f;
    --cinza-escuro: #353535;
    --verde: #42e46d;
    --verde-escuro: #298342;
    --branco: #ffffff;
}

.container {
    max-width: 1140px;
    margin: auto;
}

body {
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-normal);
}

/*HEADER ---------------------------------*/
.header {
    background-color: var(--cinza);
    font-family: var(--fonte-primaria);
    padding: 30px 15px;
}

.header .logo {
    font-family: var(--fonte-segundaria);
    font-size: var(--fonte-grande);
    color: var(--verde);
    padding: 0.7rem;
    border: 3px solid var(--verde);
    border-radius: 50%;
    text-transform: none;
    text-decoration: underline;
    transition: 0.2s;
}

.header .logo:hover {
    color: var(--branco);
    border-color: var(--branco);
}

.header nav ul {
    display: flex;
}

.header nav li a {
    color: var(--verde);
    font-size: var(--fonte-normal);
    padding: 0.7rem 1.3rem;
    text-decoration: none;
    transition: 0.4s;
    border-radius: 2rem;
}

.header nav li a:hover {
    background-color: var(--verde-escuro);
    color: var(--branco);
}

/*SECTION HOME ---------------------------------*/
.conteudo .home {
    background-color: var(--cinza);
    padding: 25px 15px;
}

.conteudo .home .container {
    display: flex;
    justify-content: space-between;
}

.conteudo .home .texto-home {
    width: 50%;
    color: var(--branco);
    font-size: var(--fonte-grande);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo .home .texto-home h1{
    width: 100%;
    color: var(--verde);
    transition: 0.2s;
}

.conteudo .home .texto-home h1:hover{
    color: var(--verde);
    font-size: 3.2rem;
}

.redes {
    display: flex;
    gap: 1rem;
}

.redes a {
    background-color: var(--cinza-escuro);
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center; 
    border-radius: 50%;
    margin-top: 1rem;
    transition: 0.2s;
}

.redes a:hover {
    box-shadow: 5px 5px 0 var(--verde-escuro);
}

.redes img {
    width: 30px;
}

.img-home {
    width: 500px;
    margin: auto;
}

.img-home img {
    width: 100%;
}

/*SECTION SOBRE MIM ---------------------------------*/
.conteudo .sobre-mim {
    background-color: var(--cinza);
    padding: 30px 15px;
}

.conteudo .sobre-mim .titulo-sobremim {
    color: var(--verde);
    font-size: var(--fonte-normal);
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
}

.div-sobremim {
    display: flex;
    justify-content: center;
}

.img-sobremim img {
    width: 520px;
}

.texto-sobremim {
    color: var(--branco);
    font-family: var(--fonte-segundaria);
    font-size: var(--fonte-pequena);
}

.texto-sobremim p {
    margin-bottom: 1rem;
}

.botoes {
    margin-top: 50px;
}

.botao {
    background-color: var(--verde);
    color: var(--branco);
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.botao:hover {
    background-color: var(--verde-escuro);
    padding: 1.1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content {
    justify-content: space-between;
}

.alinhar-itens-centro {
    align-items: center;
}
